<div class="jumbotron text-center">
	<div class="container">
		<h1>MEAN Authentication App</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad amet architecto atque eum ex ipsa ipsam labore libero magni maxime molestiae nesciunt quod, reiciendis rem repudiandae rerum tempora ut!</p>
		<p>
			<a class="btn btn-primary " [routerLink]="['/register']">Register</a>
      <a class="btn btn-success " [routerLink]="['/login']">Login</a>

    </p>
	</div>
</div>

<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using MOngoose to organize models and query</p>
	</div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Angular Cli</h3>
    <p>A rock solid Node.js/Express server using MOngoose to organize models and query</p>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>JWT Tokens</h3>
    <p>A rock solid Node.js/Express server using MOngoose to organize models and query</p>
  </div>
</div>
